<footer class="footer">
    <h3>TRUNG TÂM CÔNG NGHỆ THÔNG TIN SỞ TÀI NGUYÊN MÔI TRƯỜNG TỈNH QUẢNG NNH</h3>
    <p><b>Địa chỉ: </b>Phường Hồng Hà, thành phố Hạ Long, tỉnh Quảng Ninh</p>
    <div>
        <p><b>Điện thoại: </b>0203 3834137</p>
        <p><b>Fax: </b> 0203.3834137</p>
        <p><b>Mail: </b>ttcntt.stnvmt@quangninh.gov.vn</p>
    </div>
    <div class="copyright">
        <i class='bx bx-copyright'></i>
        <p>Trung tâm Công nghệ thông tin tài nguyên và môi trường tỉnh Quảng Ninh</p>
    </div>

</footer>