<header class="header">
    <div class="header-content">
        <div class="header-img">
            <a href="/"><img src="/img/logo.png" alt="" class=""></a>
        </div>
        <div class="header-heding">
            <h2>TRUNG TÂM CÔNG NGHỆ THÔNG TIN</h2>
            <h2>SỞ TÀI NGUYÊN MÔI TRƯỜNG QUẢNG NINH</h2>
        </div>
        <div class="header-right">
            <div class="header-user-success hiden">
                <i class='bx bxs-user-circle'></i>
                <Span id="usersuccess"></Span>
                <i class='bx bx-chevron-down'></i>
                <ul class="user-list hiden">
                    <li class="user-item">
                        <i class='bx bxs-user-rectangle'></i>
                        <a href="">Thông Tin Tài Khoản

                        </a>
                    </li>
                    <li class="user-item">
                        <i class='bx bxs-caret-right-circle'></i>
                        <a href="/admin" id="admin"></a>
                    </li>
                    <li class="user-item">
                        <i class='bx bx-log-out'></i>
                        <a href="" id="logout">Đăng Xuất

                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-user">
                <a href="/login">Đăng Nhập</a>
                <div></div>
                <a href="/register">Đăng Ký</a>
            </div>
            <div class="header-search">
                <input type="text" placeholder="Tìm Kiếm.......">
                <i class='bx bx-search-alt-2'></i>
            </div>
            <div class="header-date">
                <div class="time" id="time">

                </div>
            </div>
        </div>
    </div>
    <div class="header-dropdown">
        <ul class="dropdown-list">
            <li class="dropdown-item">
                <a href="/">Trang Chủ</a>
            </li>

            <li class="dropdown-item gt">
                <a href="/gt">Giới Thiệu</a>
                <ul class="drop-lv1">
                    <li class="drop-lv1-item">
                        <a href="/gt">Giới Thiệu</a>
                    </li>

                    <li class="drop-lv1-item">
                        <a href="">Quyết Định Thành Lập</a>
                    </li>

                    <li class="drop-lv1-item sodo">
                        <a href="">Sơ Đồ Tổ Chức</a>
                        <i class='bx bx-chevron-right'></i>
                        <ul class="drop-lv2">
                            <li class="drop-lve-item"><a href="">Lãnh Đạo Sở

                                </a></li>

                            <li class="drop-lve-item"><a href="">Lãnh Đạo Sở

                                </a></li>

                            <li class="drop-lve-item"><a href="">Lãnh Đạo Sở

                                </a></li>

                            <li class="drop-lve-item"><a href="">Lãnh Đạo Sở

                                </a></li>

                            <li class="drop-lve-item"><a href="">Lãnh Đạo Sở

                                </a></li>
                        </ul>
                    </li>

                    <li class="drop-lv1-item">
                        <a href="">Điều Lệ Tổ Chức</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown-item tt-sk">
                <a href="/news">Tin Tức - Sự Kiện</a>
                <ul class="drop-lv1">
                    <li class="drop-lv1-item">
                        <a href="/news/cntt">Công Nghệ Thông Tin</a>
                    </li>

                    <li class="drop-lv1-item">
                        <a href="/news/tnmt">Tài Nguyên Môi Trường</a>
                    </li>

                    <li class="drop-lv1-item">
                        <a href="/news/hdnb">Hoạt Động Nội Bộ</a>
                    </li>

                    <li class="drop-lv1-item">
                        <a href="/news/htpt">Hợp Tác Phát Triển</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown-item">
                <a href="/ttvb">Thông tin Văn Bản</a>
            </li>

            <li class="dropdown-item">
                <a href="">Trao Đổi</a>
            </li>
        </ul>

    </div>
</header>