<div class="list-app">
    <h4 class="title-right">Danh Sách Ứng Dụng</h4>
    <div class="app-scroll">
        <div class="item-app">
            <img src="img/hopdong.png" alt="">
            <a href="http://203.162.127.209/">Hợp Đồng Thuê Đất</a>
        </div>
        <div class="item-app">
            <img src="img/hopdong.png" alt="">
            <a href="http://203.162.127.202/DCKSQN/8/DCKS/0/Trang-chu.aspx">Quản Lý Nguồn Ô Nhiễm Nước</a>
        </div>
        <div class="item-app">
            <img src="img/moitruong.png" alt="">
            <a href="http://ttcntt-stnmtquangninh.gov.vn/hopdongthuedatquangninh/HeThong/pDangNhap.aspx">Phần mềm Địa
                chất Khoáng sản</a>
        </div>
        <div class="item-app">
            <img src="img/KhoSo.png" alt="">
            <a href="http://ttcntt-stnmtquangninh.gov.vn/quanlykhoquangninh/HeThong/DangNhap.aspx   ">Quản lý Kho</a>
        </div>
    </div>

</div>
<div class="info">
    <h4 class="title-right">Thông Tin Văn Bản</h4>
    <div class="info-slide">
        <ul class="info-list">


        </ul>
    </div>

</div>
<div class="maps">
    <h4 class="title-right">
        Bản Đồ
    </h4>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.2184807995686!2d107.11959311490202!3d20.943739496051254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a5769b3b2b7c7%3A0xd96bf712ba554e1a!2zVHLhu6UgU-G7nyBMacOqbiBDxqEgUXVhbiBT4buRIDM!5e0!3m2!1svi!2s!4v1673368814358!5m2!1svi!2s"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="lienket">
    <h4 class="title-right">
        Liên Kết Web
    </h4>
    <select name="" id="">
        <option value="">
            <a href="">Bộ Tài Nguyên Môi Trường</a>
        </option>
        <option value="">
            <a href="">Bộ Tư Pháp</a>
        </option>
        <option value="">
            <a href="">Đảng Cộng Sản Việt Nam</a>
        </option>
        <option value="">
            <a href="">Chính Phủ</a>
        </option>

    </select>
</div>